@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;

    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;

    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;

    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;

    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;

    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;

    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;

    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;

    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;

    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;

    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;

    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.page {
  width: 100%;
  height: 100%;
  overflow: hidden auto;
  position: relative;
  background-color: var(--background);
}
.page:hover:has(.pulling) {
  cursor: grabbing;
}
/* .content {
  width: 100%;
  color: var(--background-contrast);
  font-family: system-ui;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.content p {
  letter-spacing: 0.02rem;
  text-transform: uppercase;
  text-align: center;
  opacity: 0.25;
  font-size: 0.8rem;
  margin: 2rem 0;
  white-space: pre-line;
  user-select: none;
}
.content p small {
  display: block;
  font-size: 0.8em;
}
.content select {
  font-size: 1rem;
  padding: 0.25rem 0.5rem;
  background: var(--background);
  border: 1px solid var(--background-contrast);
  color: var(--background-contrast);
  border-radius: 0.5rem;
  margin: 0;
} */
.refresher {
  height: 6rem;
  transition: height 0.25s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid var(--background-alt);
}
.refresher.pulling {
  transition: none;
}
.refresher.pulling .logoWrapper {
  transition: none;
}
.refresher .logoWrapper {
  transition: transform 0.2s ease;
}
.refresher .logo {
  height: 3rem;
  aspect-ratio: 1;
}
.pop .refresher .logo {
  animation: logoPop 0.5s ease-out;
}
@keyframes logoPop {
  0% {
    transform: scale(1);
 }
  10% {
    transform: scale(1.2);
 }
  100% {
    transform: scale(1);
 }
}
/* #animated-logo {
  width: 100%;
  aspect-ratio: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
} */
/* #animated-logo svg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
  shape-rendering: geometricPrecision;
} */
#animated-logo svg path, #animated-logo svg polyline {
  fill: none;
  /* stroke: var(--background-contrast);
  color: var(--background-contrast); */
  transition: opacity var(--logo-duration-fade) 0.15s ease, stroke-dashoffset 0.25s ease-out;
}
#animated-logo .animated-logo-runner {
  stroke-dasharray: var(--logo-runner-length) 123456;
  stroke-dashoffset: var(--logo-runner-length);
}
.pulling #animated-logo .animated-logo-base {
  opacity: 0.2;
  transition: opacity var(--logo-duration-fade) ease, stroke-dashoffset 0.25s ease-out;
}
.pulling #animated-logo .animated-logo-runner {
  stroke-dashoffset: calc(var(--logo-runner-offfset));
  transition: none;
}
#animated-logo.active .animated-logo-base {
  opacity: 0.2;
}
#animated-logo.active path, #animated-logo.active polyline {
  transition: stroke-dashoffset var(--logo-duration-runner) ease-in-out;
}
#animated-logo.loading .animated-logo-runner {
  stroke-dashoffset: calc(var(--logo-length) * -1);
}
#animated-logo.complete .animated-logo-runner {
  stroke-dashoffset: 0;
  stroke-dasharray: var(--logo-length) 123456;
}
